<h1>Edit contact_note</h1>

<form id="edit-contact_note" name="contact_note">
  <div class="field">
    <label for="contact_id"> contact_id:</label>
    <input type="text" name="contact_id" id="contact_id" value=<%= contact_id %> >
  </div>

  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value=<%= text %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Contact note" />
  </div>

</form>

<a href="#/index">Back</a>