<h1>Listing contact_notes</h1>

<table id="contact_notes-table">
  <tr>
    <th>Contact</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Contact note</a>