<form id="new-contact_note" name="contact_note">
    <h3> Note:</h3>
    <input name="text" id="text" value="<%= text %>" class="text"/>
	<input type="submit" class="btn primary" value="Save Note">
</form>