
<form id="new-contact_note" name="contact_note">
    <label for="text"> Note:</label>
    <textarea name="text" id="text" value=<%= text %> class="text"/>
  
  <div class="actions">
    <input class="submit" type="submit" value="Save Note"/>
  </div>
</form>