<h1>Edit contact</h1>

<form id="edit-contact" name="contact">
  <div class="field">
    <label for="phone_number"> phone_number:</label>
    <input type="text" name="phone_number" id="phone_number" value=<%= phone_number %> >
  </div>

  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value=<%= first_name %> >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value=<%= last_name %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Contact" />
  </div>

</form>

<a href="#/index">Back</a>