<h1>Listing contacts</h1>

<table id="contacts-table">
  <tr>
    <th>Phone number</th>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Contact</a>