<div class="callinfo"><DIV class="name"><%= first_name %></DIV><DIV class="number"><%= phone_number %>&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.armadillow.com" target="_blank"><IMG SRC="assets/popout.png"></A></DIV></DIV>

<label for="regularTextarea">Call Notes</label>
<textarea class="notes" placeholder="Enter your call notes here!"></textarea>
<a href="#" class="button">Save</a>
<fieldset class="activitystream">
<legend>Activity Stream</legend>
</fieldset>
<div class="historynotes">
<div class="singlenote">