<div class="spacer"></div>
<div class="name"><%= first_name %></div>
<div class="close button">X</div>
<div class="source button"/>
<input type="text" id="datepicker">
<div class="number"><%= phone_number %></div>


<div id="new_contact_note"></div>
<div id="contact_notes"></div>