<div class="name">
	<%= first_name %>
</div>
<div class="close button">
	X
</div>
<div class="source button"/>
<div class="number">
	<%= phone_number %>
</div>

<label for="regularTextarea">Call Notes</label>
<textarea class="notes" placeholder="Enter your call notes here!"></textarea>
<a href="#" class="button">Save</a>
<fieldset class="activitystream">
<legend>Activity Stream</legend>
</fieldset>
<div class="historynotes">
<div class="singlenote">