<div class="callinfo"><DIV class="name"><%= first_name %></DIV><DIV class="number"><%= phone_number %>&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.armadillow.com" target="_blank"><IMG SRC="assets/popout.png"></A></DIV></DIV>

<label for="regularTextarea">Call Notes</label>
<textarea class="notes" placeholder="Enter your call notes here!"></textarea>
<a href="#" class="button">Save</a>
<fieldset class="activitystream">
<legend>Activity Stream</legend>
</fieldset>
<div class="historynotes">
<div class="singlenote">

<div class="notedate">3 days ago</div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris arcu tortor, fringilla eget cursus eu, imperdiet laoreet ipsum. Mauris ac leo nunc. Nunc nec mi egestas dui consequat euismod. Mauris et lectus diam. Sed mattis convallis tempus. Phasellus nec metus in risus rhoncus blandit ut at sapien. Morbi vehicula sem eget mauris blandit quis bibendum lacus scelerisque.
</div>

<div class="singlenote">
<div class="notedate">3 days ago</div>
Phasellus nec metus in risus rhoncus blandit ut at sapien. Morbi vehicula sem eget mauris blandit quis bibendum lacus scelerisque.
</div>

<div class="singlenote">
<div class="notedate">3 days ago</div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris arcu tortor, fringilla eget cursus eu, imperdiet laoreet ipsum. Mauris ac leo nunc. Nunc nec mi egestas dui consequat euismod. Mauris et lectus diam.
</div>

<div class="singlenote">
<div class="notedate">3 days ago</div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris arcu tortor, fringilla eget cursus eu, imperdiet laoreet ipsum. Mauris ac leo nunc. Nunc nec mi egestas dui consequat euismod. Mauris et lectus diam. Sed mattis convallis tempus. Phasellus nec metus in risus rhoncus.
</div>


</div>

