<h1>Listing lists</h1>

<table id="lists-table">
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Sid</th>
    <th>Scheduled for</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New List</a>