<h1>New list</h1>

<form id="new-list" name="list">
  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value=<%= user_id %> >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="sid"> sid:</label>
    <input type="text" name="sid" id="sid" value=<%= sid %> >
  </div>

  <div class="field">
    <label for="scheduled_for"> scheduled_for:</label>
    <input type="text" name="scheduled_for" id="scheduled_for" value=<%= scheduled_for %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create List" />
  </div>

</form>

<a href="#/index">Back</a>