<div class="button connect">Connect</div>
<div class="button dial" style="display: none;">Dial</div>
<div class="button cancel" style="display: none;">Cancel</div>
<div class="header">
	<div class="first-name">
		Name
	</div>
	<div class="phone-number">
		Number
	</div>
</div><div id="list_contacts"></div>
<div class="footer"></div>
