<% if user_signed_in? %>
	<li>
		<%=  link_to('CallSmith', root_url, :method=>'delete', :class => controller_name == "home" ? "active" : "") %>    
	</li>
<% else %>
	<li>
		<%= link_to('Sign up', new_user_registration_path, :class => controller_name == "registrations" ? "active" : "")  %>
	</li>	
	<li>
		<%= link_to('Login', new_user_session_path, :class => controller_name == "sessions" ? "active" : "")  %>  
	</li>
<% end %>