<div class="layout-wraper">
<div class="sixteen columns"></div>
<div class="clear"></div>
<div class="eight columns alpha" id="col-left"></div>
<div class="eight columns omega" id="col-right"></div>
</div>