<h1>Listing list_contacts</h1>

<table id="list_contacts-table">
  <tr>
    <th>List</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New List contact</a>