<h1>New list_contact</h1>

<form id="new-list_contact" name="list_contact">
  <div class="field">
    <label for="list_id"> list_id:</label>
    <input type="text" name="list_id" id="list_id" value=<%= list_id %> >
  </div>

  <div class="field">
    <label for="contact_id"> contact_id:</label>
    <input type="text" name="contact_id" id="contact_id" value=<%= contact_id %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create List contact" />
  </div>

</form>

<a href="#/index">Back</a>