<div class="contact">
	<div class="status">
	  Status
	</div>
	<div class="first-name">
	  <%= first_name %>
	</div>
	<div class="phone-number">
		555-555-5555
	</div>
	<div class="actions"><img src="assets/call.png"><img src="assets/destroy.png"></div>
</div>