/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@import "bourbon";


html {
	height: 100%;
	
	body {
 		height: 100%;

		#container {
			padding: 0px 10px;
		 	height: 100%;
			#main {
				position: absolute;
				top: 75px;
				bottom: 20px;
				
				#CallSmithApp {
			    	height: 100%;
				}
			}
		}
	}
}

$gw-column: 471px;          // Column Width
$gw-gutter: 18px;           // Gutter Width

@mixin col($dist) {
}

.layout-wraper {
 	height: 100%;
	.col {
		width: grid-width(1);
		z-index: 1;
		background: white;
  		float: left;
	}
	
	.left {
		@include box-shadow(1px 1px 2px 0 grey);
		margin-left: 0px;
		height: 100%;
	}
	
	.right {
		@include box-shadow(1px 1px 2px 0 grey);
		margin-left: $gw-gutter;
		
		bottom: 15px;
		top: 15px;
		
		position: absolute;
		float: right;
		left: 100%;
		z-index: 1;
	}
}
