// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "util";
@import "list_contacts";
@import "bourbon";


.Contacts-ShowView {
	position: absolute;
	height: 100%;
	width: 460px;
	top: 0px;
	left: 0%;
	z-index: 0;

	background: white;
	float: left;
	
	
	.name {
		float: left;
		margin-top: 10px;
	    font-size: 3em;
	}
	
	.spacer {
		margin-top: 75px;
	}
	
	
	#datepicker{
		display: none;
	}
	
	.ui-datepicker-trigger {
	    font-weight: bold;
	    float: right;
    	margin: 10px;
	    width: 16px;
	    height: 16px;
	    text-align: center;
	}
	
	.number {
		width: 100%;
		float: right;
	    margin: 0px 10px 10px 0px;
		text-align: right;
	}
	
	.source.button {
		@include background-image(url("popout.png"));
	}
	
	.close.button {
	}
	
	.button {
	    font-weight: bold;
	    float: right;
    	margin: 10px;
	    width: 16px;
	    height: 16px;
	    text-align: center;
	}
	
	.button:hover {
		cursor: pointer;
	}
	
	#new_contact_note {
	    float: left;
		width: 100%
	}
	
	#contact_notes {
	    float: left;
		width: 100%
	}
}






.CallSmith-header {
	background: lightBlue;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	text-align: center;
	height: 52px;
	z-index: 1000;
	line-height: 30px;
	
	
	input {
		display: inline-block;
		width: 120px;
		height: 30px;
		margin: 10px;
		padding: 0px;
		vertical-align: top;
		text-align: center;
	}
	
	.label {
		display: inline-block;
		width:	auto;
		height: 30px;
		margin: 10px;
		padding: 0px;
		vertical-align: top;
		text-align: right;
	}
	
	.call-datepicker {
	}
	
	.contact-button {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 10px;
		
	}
	
	.contact-button.next {
		background-image: url("/assets/down3green.png");
		background-size: 100%;
	}
	
	.contact-button.previous {
		background-image: url("/assets/up3green.png");
		background-size: 100%;
	}
	
	.contact-button.save {
		width: 60px;
	}
}




span .contact-wrap {
	@include reset;
	
	div {
		float: left;
	}
	
	div.colapse-button {
		width: 23px;
		height: 23px;
		left: -8px;
		top: -4px;
		position: relative;
		display: inline;
		background-image: url("/assets/right3green.png");
		background-size: 100%;
	}
	
	div.colapse-button:hover {
	 cursor:pointer;
	}

	.content-controls {
		display: none;
		li {
			float: left;
			display: inline;
		}
	}
	
	form.formtastic fieldset > ol > li label { display: none; }
	form.formtastic fieldset { width: 100%; }
	form.formtastic fieldset > ol > li { display: inline; }
}

span.contact-wrap.open {
	.colapse-button {
		background-image: url("/assets/down3green.png");
	}

	.content-controls {
		position: relative;
		display: block;
		float: initial;
	}
	
}

.notes {
resize: none;
width:450px;
height:200px;
}

.callinfo {
	height:30px;
	font-weight:bold;	
	font-size:large;
	.name {
		width:241px;
		float:left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		}

	.number {
		width:205px;
		float:right;
		}
}

.historynotes {
	.singlenote {
		background-color:white;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: $color2;
		padding: 5px;
		.notedate {
			float:right;
			font-weight:bold;
			font-size:80%;
			}	
	}
	
	.singlenote:hover {
		background-color:$color3;
		}
}

.activitystream {
	border-width: 1px 0 0;
	height: 15px;
	padding: 0px 5px;
}
