// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "util";




span .contact-wrap {
	@include reset;
	
	div {
		float: left;
	}
	
	div.colapse-button {
		width: 23px;
		height: 23px;
		left: -8px;
		top: -4px;
		position: relative;
		display: inline;
		background-image: url("/assets/right3green.png");
		background-size: 100%;
	}
	
	div.colapse-button:hover {
	 cursor:pointer;
	}

	.content-controls {
		display: none;
		li {
			float: left;
			display: inline;
		}
	}
	
	form.formtastic fieldset > ol > li label { display: none; }
	form.formtastic fieldset { width: 100%; }
	form.formtastic fieldset > ol > li { display: inline; }
}

span.contact-wrap.open {
	.colapse-button {
		background-image: url("/assets/down3green.png");
	}

	.content-controls {
		position: relative;
		display: block;
		float: initial;
	}
	
}
