// Place all the styles related to the ContactNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.ContactNotes-NewView {
	float: left;
	width: 100%;

	h3 {
		margin-left: 10px;
	}

	form {
		float: left;
		
		width: 100%;
		
		.text {
			display: block;
			width:  80%;
			height: 3.2em;
			min-height: 1.2em;
			margin: 0px 16px;
			resize: none;
		}
		input {
	  	  float: right;
		    margin: 10px 15px;

		}
	}
}

.ContactNotes-IndexView {
	float: left;
	width: 100%;

	float: left;
	height: 100%;

	table {
		display: block;
		table-layout: fixed;
	 	td { white-space: pre;           /* CSS 2.0 */
		white-space: pre-wrap;      /* CSS 2.1 */
		white-space: pre-line;      /* CSS 3.0 */
		white-space: -pre-wrap;     /* Opera 4-6 */
		white-space: -o-pre-wrap;   /* Opera 7 */
		white-space: -moz-pre-wrap; /* Mozilla */
		white-space: -hp-pre-wrap;  /* HP Printers */
		word-wrap: break-word;      /* IE 5+ */ }
	}
}