// Place all the styles related to the ContactNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.ContactNotes-NewView {
	float: left;
	width: 100%;

	h3 {
		margin-left: 10px;
	}

	form {
		float: left;
		
		width: 100%;
		
		.text {
			display: block;
			width:  80%;
			height: 1.2em;
			min-height: 1.2em;
			margin: 0px 16px;
			resize: none;
		}
		input {
	  	  float: right;
		    margin: 10px 15px;

		}
	}
}

.ContactNotes-IndexView {
	float: left;
	width: 100%;

	float: left;
	height: 100%;

	table {
		height:	310px;
		overflow-y: scroll;
		display: block;
	}
}