// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "util";


.CallSmith-header {
	background: lightBlue;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	text-align: center;
	height: 52px;
	z-index: 100;
	line-height: 30px;
	
	
	input {
		display: inline-block;
		width: 120px;
		height: 30px;
		margin: 10px;
		padding: 0px;
		vertical-align: top;
		text-align: center;
	}
	
	.label {
		display: inline-block;
		width:	250px;
		height: 30px;
		margin: 10px;
		padding: 0px;
		vertical-align: top;
		text-align: right;
		margin-right: -10px;
	}
	
	.contact-button {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 10px;
		
	}
	
	.contact-button.next {
		background-image: url("/assets/down3green.png");
		background-size: 100%;
	}
	
	.contact-button.previous {
		background-image: url("/assets/up3green.png");
		background-size: 100%;
	}
	
	.contact-button.save {
		width: 60px;
	}
}




span .contact-wrap {
	@include reset;
	
	div {
		float: left;
	}
	
	div.colapse-button {
		width: 23px;
		height: 23px;
		left: -8px;
		top: -4px;
		position: relative;
		display: inline;
		background-image: url("/assets/right3green.png");
		background-size: 100%;
	}
	
	div.colapse-button:hover {
	 cursor:pointer;
	}

	.content-controls {
		display: none;
		li {
			float: left;
			display: inline;
		}
	}
	
	form.formtastic fieldset > ol > li label { display: none; }
	form.formtastic fieldset { width: 100%; }
	form.formtastic fieldset > ol > li { display: inline; }
}

span.contact-wrap.open {
	.colapse-button {
		background-image: url("/assets/down3green.png");
	}

	.content-controls {
		position: relative;
		display: block;
		float: initial;
	}
	
}
