// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color1: #0641CA; /*blue*/
$color2: #83A9FF; /*lightblue*/
$color3: #E6EEFF; /*whiteish*/
$color4: #012475; /*dark blue*/


table.nice {
	background-color: $color3;
	border-radius:10px;
	border-collapse: collapse;
	border-spacing: 0; 
	}

tr.headers{ background-color: $color4; color: $color3; border-radius:10px;}	
tr:hover { background-color: $color2;}

p.username{
	float:right;
	font-weight:bold;
}
