// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bourbon";
$color1: #8C8989; /*gray*/
$color2: #6A6868; /*dark gray*/
$color3: #EEE; /*ligher*/
$borderradius: 5px;

.Lists-ShowView {
	h1 {
		font-size: 2.5em;
	}
	.button {
		@include button;
		text-align: center;
		width: 166px;
		display: inline-block;
	    margin: 14px 116px;
	    font-size: 2.5em;
	}
	
	.header {
		height:35px;
		background-color:$color2;
		color:$color3;
		border-top-left-radius:$borderradius;
		border-top-right-radius:$borderradius;
		font-weight:bold;
		div {
			float: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 5px;
			}
		.status {
			width:65px;
			}
		.first-name {
			width:160px;
			}		
		.phone-number {
			width:130px;
			}
		.actions {
			width: 55px;
			}
		}
		
		.footer {
			height:5px;
			border-bottom-left-radius:$borderradius;
			border-bottom-right-radius:$borderradius;
			}
	}
