// Place all the styles related to the ListContacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "bourbon";
.ListContacts-ShowView {
	.contact {		
	    display: inline-block;

		div {
			float: left;
		}

		.first-name {
			margin: 0px 10px;
		}
	}
}


.ListContacts-ShowView:hover {
	background-color: grey;
}