// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bourbon";

.Lists-ShowView {
	h1 {
		font-size: 2.5em;
	}
	
	.button {
		@include button;
		text-align: center;
		width: 166px;
		display: inline-block;
	    margin: 14px 0px 14px 20px;
	    font-size: 2.5em;
	}
}
